/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#input_box{
    /* display: inline; */
    /* display: none; */
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 140px;
    background-color: rgb(208, 208, 208);
    padding: 30px 20vw 30px 20vw

}

.import_btn,.file_sub{
  width: 5rem;
  height: 2rem;
  float: right;
  background-color: #222;
  cursor: pointer;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  color: aliceblue;
}



#add{
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    background-color: rgb(43, 167, 58);

    border: none;
    float: right;
}





.contents{
    /* margin: 80px; */
    height: 60px;
    border-radius: 5px;
    width: 60vw;
}

li{
    list-style-type: none;
}
.label{
    margin-left: 5px;
}

.heading{
  position: fixed;
  top: 55px;
  width: 60%;
  margin: 0 15%;
  padding-left: 70px;
}


h1{
float: left;


    /* margin-bottom: 20px; */
}

.btn{

  text-decoration: none;
  float: right;
  margin-top: 7px;

}


.list{
    padding-bottom: 30px;
    position: relative;
    /* top: 30px; */
}

.list_container {
  height: calc(100vh - 230px);
    width: 50%;

    margin: 0 15%;
    margin-left: 350px;
    margin-top: 100px;
    overflow: auto  ;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 30px;

}

.file_sub{
  display: none;
}

.checkbox{
    border-radius: 50%;
}

.checkbox_c{
    display: block;
}

.checkbox{
    visibility: hidden;
}

.checkbox_c input::before{
    position: absolute;

    cursor: pointer;
    content: '';
    background-color: white;
    border: 1px solid black;
    border-radius:50% ;
    width: 17px;
    height: 17px;
    visibility: visible;
}
.checkbox_c input:checked::before{
    position: absolute;
    content: "✔";
    cursor: pointer;
    text-align: center;
    background-color: rgb(43, 167, 58);
    width: 16px;
    /* padding-left: 1px; */
    height: 16px;
    color: aliceblue;
    /* padding-left: 2px; */
    background-position: right;
    align-items: center;
    /* margin-right: px; */



}

nav{
    width: 100vw;
    position: fixed;
    top: 0;

    background-color: rgb(43, 167, 58);

    height: 50px;
    /* text-align: right; */
    padding: 5px 15px 0 0 ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
nav strong{
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav p{
    float: right;
    clear: right;
}

.navbar-link{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
}
.login_container, .sign_container{
    position: absolute;
    /* height: 180px;   */
    /* background-color: aqua; */
    top: 15.22rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    left: 30rem;
    width: 30rem;
    /* font-size: 20px; */
    border: 0.5px solid black;
    padding: 3.12rem 7rem;
    /* text-decoration: none; */
    text-transform: none;

}


.edit_container{
    position: absolute;
    /* height: 180px;   */
    /* background-color: aqua; */
    top: 8rem;
    left: 30rem;
    width: 30rem;
    /* font-size: 20px; */
    border: 0.5px solid black;
    padding: 3.12rem 7rem;
    /* text-decoration: none; */
    text-transform: none;
}

.login_container h2,.sign_container h2,.edit_container h2{
    padding-left: 90px;
}

.button,.cancel{
    background-color: rgb(43, 167, 58);
    border: none;
    height: 2rem;
    width: 12.5rem;
    border-radius: 5px;
    /* text-align: center; */
    margin-left: 30px;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(21, 120, 34);
    transition: all 1s;
    color: aliceblue;
}
.cancel{
    background-color: rgb(204, 97, 97);

}
.cancel:hover{
    background-color: rgb(220, 39, 39);
    transition: all 1s;
    color: aliceblue;
}


.login_container a,.sign_container a, .edit_container a{
    text-decoration: none;
    font-size: 13px;
    display: inline;
}

.login_container input,.sign_container input, .edit_container input{
    border: none;
    outline: none;
    border-bottom:1px solid black ;

}
.input_field{
    width: 15.5rem;
    display: inline-block;

}



.alert{
    /* background-color: aquamarine; */
    position: absolute;
    top: 70px;
    left: 20px;
    width: 140px;
    /* color: red; */
}






.import_btn:hover{
    cursor: pointer;
    background-color: rgb(27, 66, 165);
}



.import{
  /* background-color: blue; */
  position: fixed;
  top: -100%;
  width: 91px;
  opacity: 0;

}

input[type='file']{
    /* width: 117px; */
    font-size: 15PX;

    border: none;
}


.alert-danger{
    color: red;
}
.alert-success{
    color: rgb(20, 193, 20);
}

#error_explanation {
    position: absolute;
    top: 10px;
    left: 2px;
    color: red;
    font-size: 10px;
    width: 100%;
}

#error_explanation li{
    position: absolute;
    left: 160px;
}
