/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#input_box{
    /* display: inline; */
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 180px;
    background-color: rgb(208, 208, 208);
    padding: 60px 20vw 60px 20vw
 
}
#add{
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    background-color: rgb(43, 167, 58);

    border: none;
    float: right;
}

.contents{
    /* margin: 80px; */
    height: 60px;
    border-radius: 5px;
    width: 60vw;
}

li{
    list-style-type: none;
}
.label{
    margin-left: 5px;
}

h1{
    position: fixed;
    top: 55px;

    width: 70%;
    margin: 0 15%;
    padding-left: 17px;    
    /* margin-bottom: 20px; */
}

.list{
    padding-bottom: 30px;
    position: relative;
    /* top: 30px; */
}

.list_container {
  height: calc(100vh - 100px);
    overflow: scroll;
    width: 70%;
    padding-left: 50px;
    margin: 0 15%;
    margin-top: 100px;
}

.checkbox{
    border-radius: 50%;
}

.checkbox_c{
    display: block;
}

.checkbox{
    visibility: hidden;
}

.checkbox_c input::before{
    position: absolute;
    
    cursor: pointer;
    content: '';
    background-color: white;
    border: 1px solid black;
    border-radius:50% ;
    width: 17px;
    height: 17px;
    visibility: visible;
}
.checkbox_c input:checked::before{
    position: absolute;
    content: "✔";
    cursor: pointer;
    text-align: center;
    background-color: rgb(43, 167, 58);
    width: 16px;
    /* padding-left: 1px; */
    height: 16px;
    color: aliceblue;
    /* padding-left: 2px; */
    background-position: right;
    align-items: center;
    /* margin-right: px; */


    
}

nav{
    width: 100vw;
    position: fixed;
    top: 0;

    background-color: rgb(43, 167, 58);

    height: 50px;
    /* text-align: right; */
    padding: 5px 15px 0 0 ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
nav strong{
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav p{
    float: right;
    clear: right;
}

.navbar-link{
    text-decoration: none;
    color: rgb(119, 121, 122);
    font-size: 20px;

}
.login_container{
    position: absolute;
    /* height: 180px;   */
    /* background-color: aqua; */
    top: 30%;
    left: 40%;
    width: 300px;
    /* font-size: 20px; */
    border: 0.5px solid black;
    padding: 50px;
    text-align: center;
    /* text-decoration: none; */
    
}
.login_container input{
    border-radius: 5px;
}
.sign_container{
    position: absolute;
    top: 100px;
}