/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
}

#input_box{
    /* display: inline; */
    position: fixed;
    bottom: 0;
    padding: 30px;
    background-color: slategray;
}
#add{
    width: 5em;
    height: 3em;
    border-radius: 5px;
    outline: none;

}

.contents{
    width: calc(100vw - 6em);
    height: 80px;
    border-radius: 5px;
}
li{
    list-style-type: none;
    padding-right:2px ;
}
.list{
    display: inline;
}

.list_container{
    margin: 50px;
    height: 400px;
    background-color: rgb(227, 227, 227);
    overflow: scroll;
}