<% todo.each do |t|%>
    <ul><li class='list'>
    <%if t.is_done %>
        <input type="checkbox" class="checkbox" id= <%= t.id %> checked ></input>
        <strike>
        <%= t.content%>
        </strike>
    <% else %>
        <input type="checkbox" class="checkbox" id= <%= t.id %></input>
        <h5 >
        <%= t.content%>
        </h5>

        
    <% end %>

    </li>

    </ul>
    <% end %>