
<% todo.each do |t|%>

  <li class='list'>
    <%if t.is_done %>
        <div class="checkbox_c"  id="check">
            <input type="checkbox" class="checkbox" id= <%= t.id %> checked >
            <strike class='label'>
                <%= t.content %>
            </strike>
            </input>
        </div>
    <% else %>
        <div class="checkbox_c"  id="check">
            <input type="checkbox" class="checkbox" id= <%= t.id %> >
           <label class='label'>
                <%= t.content %>
          </label>
        </div>
    <% end %>
    </li>
<% end %>
